{% extends 'base.html.twig' %}


{% block main %}

	<div class="p-5">

		<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 p-5 g-2">

			{% for val in category %}
				<div class='col p-4'>

					<div class="card mb-3">
						<img src="{{val.image}}" class="card-img-top" alt="{{val.name}}">
						<div class="card-header">
							<h5 class="card-title">{{val.name}}</h5>
						</div>
						<div class="card-body">
							<p class="card-text">
								<b>Date of Event:
								</b>
								{{val.datetime|date('F j, Y, g:i a')}}
							</p>
                            <p class="text-end text-success h4">{{val.type}}<p>
						</div>
						<div class="card-footer">
							<a class="btn btn-info btn-small" href="/details/{{val.id}}">
								Details
							</a>
							<a class="btn btn-info btn-small" href="/edit/{{val.id}}">
								Update
							</a>
							<a class="btn btn-info btn-small" href="/delete/{{val.id}}">
								Delete
							</a>
						</div>
					</div>
				</div>
			{% endfor %}

		</div>
	</div>

{% endblock %}
